@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/fonts";

$selected-outline-height: 3px;

.show-borders {
  .drop-container,
  .drag-container {
    &:not(.selected):not(.hovered) {
      outline: 1px colors.$db-neutral-contrast-high-enabled dashed;
    }
  }
}

.show-spacings {
  :has(> .drop-container),
  :has(> .drag-container) {
    background-color: #f9cc9d;
  }

  .drop-container,
  .drag-container {
    --db-current-icon-color: #{colors.$db-current-color-enabled};
    background-image: linear-gradient(
        #{colors.$db-current-color-bg-enabled},
        #{colors.$db-current-color-bg-enabled}
      ),
      linear-gradient(#c3d08b, #c3d08b);
    background-clip: content-box, padding-box;
    color: colors.$db-current-color-enabled;
  }
}

.drop-container,
.drag-container {
  & > div:empty,
  &:empty {
    &:not(.db-divider) {
      min-height: variables.$db-sizing-md;
      min-width: variables.$db-sizing-md;
      width: 100%;
      height: 100%;
      display: flex;

      &::before {
        content: "Drag component to me";
        margin: auto;
      }
    }
  }
  &:has(> .drag-button) {
    position: relative;
  }
}

[data-hint] {
  &::before {
    content: attr(data-hint);
    opacity: 0.4;
  }
}

.drop-container {
  &:not(:empty) {
    display: contents;
  }
}

.hovered {
  outline: $selected-outline-height colors.$db-neutral-contrast-low-enabled
    dashed;
}

.selected {
  outline: $selected-outline-height
    colors.$db-informational-contrast-low-enabled solid;

  &:has(> .drag-button) {
    &:hover {
      > .drag-button {
        opacity: 100;
        pointer-events: inherit;
      }
    }
  }
}

.drag-button {
  @extend %db-overwrite-font-size-sm;
  --db-current-icon-color: var(--db-informational-on-contrast-enabled);
  --db-icon-margin-start: #{variables.$db-spacing-fixed-3xs};
  font-family: var(--db-font-family-sans);
  color: var(--db-informational-on-contrast-enabled);
  background-color: colors.$db-informational-contrast-low-enabled;
  position: absolute;
  z-index: 6;
  inset-block-end: calc(100% - 1px);
  inset-inline-end: calc(-1 * #{$selected-outline-height});
  opacity: 0;
  cursor: grab;
  width: max-content;
  pointer-events: none;

  &:active {
    cursor: grabbing;
  }

  &[data-outside-y="true"] {
    inset-block-end: auto;
    inset-block-start: calc(100% - 1px);
  }

  &[data-outside-x="true"] {
    inset-inline-end: auto;
    inset-inline-start: calc(-1 * #{$selected-outline-height});
  }
}

.tree-item {
  &:hover {
    background-color: colors.$db-current-color-bg-transparent-hover;
  }

  &:active {
    background-color: colors.$db-current-color-bg-transparent-pressed;
  }
}

.tree-item-padding {
  padding-inline-start: calc(
    #{variables.$db-sizing-md} - #{variables.$db-spacing-fixed-xs}
  );
}
