@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "@db-ux/core-foundations/build/styles/helpers/focus";
@use "@db-ux/core-components/build/styles/internal/component";

.menu-bar {
  @extend %db-neutral-bg-basic-level-1;
  display: flex;
  gap: variables.$db-spacing-fixed-3xs;
  border-radius: variables.$db-border-radius-xs;
  padding: variables.$db-spacing-fixed-3xs;
}

.editor-container {
  .text-container {
    @extend %default-interactive-component;
    @extend %component-border;

    background-color: colors.$db-adaptive-bg-basic-transparent-semi-default;
    caret-color: colors.$db-adaptive-on-bg-basic-emphasis-100-default;
    padding: variables.$db-spacing-fixed-xs variables.$db-spacing-fixed-sm;
    display: flex;
    flex-direction: column;
    gap: variables.$db-spacing-fixed-xs;

    &:hover:not(:disabled):not([aria-disabled="true"]) {
      background-color: colors.$db-adaptive-bg-basic-transparent-hovered;
    }
  }

  &:has(.tiptap:focus-visible) {
    .text-container {
      @extend %focus-placeholder;
    }
  }

  label {
    @extend %db-overwrite-font-size-xs;
    margin-block-end: variables.$db-spacing-fixed-xs;
  }
}

.text-editor.tiptap {
  height: variables.$db-sizing-2xl;
  max-height: variables.$db-sizing-2xl;
  overflow-y: auto;
  overflow-x: hidden;

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}
