@use "@db-ui/foundations/build/scss/variables";

.contrast-checker-values {
  display: flex;
  width: 100%;
  gap: variables.$db-spacing-fixed-xs;
}

.copy-color-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: variables.$db-spacing-fixed-xs;

  .color {
    color: #ffffff;
    width: 100%;
    padding: variables.$db-spacing-fixed-xs;
  }
}
