@use "@db-ux/core-foundations/build/scss/variables";
@use "@db-ux/core-foundations/build/scss/colors";
@use "@db-ux/core-foundations/build/scss/screen-sizes";
.demo-side-nav {
  .db-button {
    justify-content: flex-start;
    font-weight: 400;

    &:first-of-type {
      font-weight: 700;
    }
  }
}

.demo-dashboard {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "short1 long"
    "short2 long"
    "big big";

  @include screen-sizes.screen("md") {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "short1 short2 long"
      "big big long";
  }
}

.dashboard-short1 {
  grid-area: short1;
}
.dashboard-short2 {
  grid-area: short2;
}

.dashboard-big {
  grid-area: big;
}

.dashboard-long {
  grid-area: long;
}

.dashboard-progress {
  border: variables.$db-sizing-xs solid
    colors.$db-adaptive-bg-basic-level-1-default;
  border-radius: 50%;
  border-top-color: colors.$db-brand-origin-default;
  border-right-color: colors.$db-brand-origin-default;
  width: 100%;
  height: 100%;
  max-width: variables.$db-sizing-xl;
  max-height: variables.$db-sizing-xl;
  margin: auto;
  text-align: center;
  display: flex;
}
