@use "@db-ui/components/build/components/button/button";
@use "@db-ui/foundations/build/scss/colors";

.upload-button {
  @extend .db-button;
  &:hover {
    background-color: colors.$db-current-color-bg-transparent-hover;
  }

  &:active {
    background-color: colors.$db-current-color-bg-transparent-pressed;
  }

  input[type="file"] {
    color: rgba(0, 0, 0, 0);
    &::file-selector-button {
      appearance: none;
      color: rgba(0, 0, 0, 0);
      margin: 0;
      background: none;
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}
