@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/screen-sizes";
@use "@db-ui/components/build/styles/component";

.color-box {
  display: flex;
  height: variables.$db-sizing-md;
  border: 1px solid colors.$db-base-border;
  border-radius: component.$default-border-radius;
  background-color: var(--color);

  .inverted {
    color: colors.$db-base-bg;
  }

  .db-popover {
    // temporary workaround
    font-style: normal;
    color: colors.$db-current-color;
  }

  .db-icon {
    visibility: hidden;
  }

  &:hover {
    background-color: var(--color-hover, var(--color));

    .db-icon {
      visibility: visible;
    }
  }

  &:active {
    background-color: var(--color-pressed, var(--color));
  }

  .color-preview {
    height: variables.$db-sizing-md;
    width: variables.$db-sizing-md;
    border: 1px solid colors.$db-base-border;
    border-radius: component.$default-border-radius;
  }
}

.grid-rows {
  grid-template-rows: repeat(13, minmax(0, 1fr));
}
