@use "@db-ux/core-foundations/build/scss/variables";
@use "@db-ux/core-foundations/build/scss/colors";
@use "@db-ux/core-components/build/styles/component";
@use "@db-ux/core-components/build/styles/db-puls";

.navigator-image-container {
  @extend %db-base-component;

  .db-icon {
    --db-icon-font-size: #{variables.$db-sizing-xl};
  }

  .db-button {
    top: calc(
      #{variables.$db-sizing-lg}/ 2 + #{variables.$db-spacing-fixed-sm}
    );
  }

  h2 {
    &::after {
      content: "";
      position: absolute;
      border-radius: variables.$db-border-radius-md;
      border-inline-start: none;
      border-block-end: variables.$db-border-radius-md solid colors.$db-brand;
      inset-block-end: calc(-1 * #{variables.$db-spacing-fixed-xs});
      inset-inline-start: 50%;
      inset-block-start: calc(100% + #{variables.$db-spacing-fixed-sm});
      transform: translate(-50%, 0);
      block-size: auto;
      inline-size: 100%;
    }
  }
}

.fake-device {
  @extend %component-border;

  overflow-y: auto;

  .fake-device-bar {
    padding-inline: calc(32px + #{variables.$db-spacing-fixed-sm});
  }
}

.travel-line-container {
  height: calc(100% + 4 * #{variables.$db-spacing-fixed-sm});
}

.travel-line {
  width: 0.25rem;
  opacity: 0.5;
  background-color: colors.$db-adaptive-on-bg-basic-emphasis-100-default;
  border-radius: variables.$db-border-radius-md;
  inset-block: 0;
  left: 50%;
  transform: translateX(-85%);
}
