@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/screen-sizes";
@use "@db-ui/components/build/styles/component";

.palette-box {
  display: flex;
  width: 100%;
  min-width: variables.$db-sizing-xl;
  border: 1px solid colors.$db-adaptive-on-bg-basic-emphasis-60-default;
  border-radius: variables.$db-border-radius-md;
  padding: variables.$db-spacing-fixed-xs;
}

.db-popover-content {
  top: calc(
    -1 * (#{variables.$db-spacing-fixed-sm} + #{variables.$db-sizing-lg} *
          var(--color-index, 1) + var(--color-index, 1) * #{variables.$db-spacing-fixed-2xs})
  ) !important;
}

.grid-color-palettes {
  & > * {
    height: variables.$db-sizing-lg;
  }
}
