@use "@db-ui/foundations/build/scss/variables";

.custom-color-picker-container {
  display: flex;
  gap: variables.$db-spacing-fixed-xs;

  .db-input {
    width: 100%;
  }

  .db-drawer-content {
    display: flex;
    flex-direction: column;
    gap: variables.$db-spacing-fixed-xs;
    padding-block: variables.$db-spacing-fixed-xs;
  }
}
