@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "@db-ux/core-components/build/styles/internal/db-puls" as puls;
@forward "@db-ux/core-components/build/styles/rollup.css";
@forward "@db-ux/db-theme/build/styles/rollup.css";
@forward "font-face.css";

[data-focus="true"] {
  @extend %db-puls;
  @include puls.set-db-puls-vertical();
  @include puls.show-db-puls-vertical();
  inset-inline-end: calc(-1 * #{variables.$db-spacing-fixed-xs});
}

:root {
  --db-drawer-max-height: 100%;
  --db-drawer-max-width: 90%;

  @media screen and (min-width: screen-sizes.$db-breakpoint-md) {
    --db-drawer-max-height: 50%;
    --db-drawer-max-width: 33%;
  }

  block-size: 100%;
}

.db-accordion-item {
  summary + div {
    position: relative;
    z-index: 1;
  }
}

.checkbox {
  display: flex;
  margin-block: auto;
}

h6 {
  margin-block: 0;
}

.db-header {
  margin-block-end: 0;
}

.db-header-meta-navigation {
  @include screen-sizes.screen() {
    display: none;
  }
}

.tonality-select-call-to-action {
  @include screen-sizes.screen("sm", "max") {
    display: none;
  }
}

.editor {
  .db-divider[data-variant="vertical"] {
    block-size: auto;
  }

  .ace_editor,
  .ace_editor * {
    transition: none;
  }
}

.db-alert-close {
  display: none;
}

.db-infotext {
  --db-icon-font-family: "db-ux-default";
}

.scale-down {
  border: variables.$db-border-height-3xs solid
    colors.$db-neutral-on-bg-basic-emphasis-70-default;
  border-radius: variables.$db-border-radius-lg;

  .db-page {
    border-radius: variables.$db-border-radius-lg;

    header {
      border-top-left-radius: variables.$db-border-radius-lg;
      border-top-right-radius: variables.$db-border-radius-lg;
      padding: calc(#{variables.$db-border-radius-lg} / 25);
    }

    main {
      border-bottom-left-radius: variables.$db-border-radius-lg;
      border-bottom-right-radius: variables.$db-border-radius-lg;
    }
  }

  @include screen-sizes.screen($size: "md") {
    transform-origin: top left;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: scale(0.5) translate(-50%, -50%);
  }
}

.hide-action-bar {
  .db-header-action-container {
    display: none;
  }
}

.db-button {
  text-decoration: none;
}

[class*="border"] {
  border-color: colors.$db-adaptive-on-bg-basic-emphasis-60-default;
}

.db-tooltip {
  z-index: 3;
}

.select-icon-dialog {
  .db-drawer-content {
    height: 100%;
    padding-block-start: variables.$db-spacing-fixed-md;
    padding-block-end: variables.$db-spacing-fixed-2xl;
  }
}

.brand-icon {
  --db-icon-font-size: 34px;
}

.logo {
  height: variables.$db-sizing-sm;
}

.brand-name {
  color: colors.$db-brand-origin-default;
}

.speaking-name-container {
  font-size: 0;
}

.db-tab-panel {
  position: absolute;
  inset-block-start: variables.$db-spacing-fixed-3xl;
}
