@forward "@db-ui/components/build/styles/db-ui-42-rollup";
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;

.column-box {
  display: flex;
  flex-direction: column;
  gap: $db-spacing-fixed-md;
}

.upper-container {
  display: flex;
  gap: $db-spacing-fixed-md;
  flex-direction: column;

  @media screen and (min-width: $db-screens-m) {
    flex-direction: row;
  }
}

.content {
  --db-drawer-max-width: 90%;
  padding: $db-spacing-fixed-md;

  @media screen and (min-width: $db-screens-m) {
    --db-drawer-max-width: 33%;
  }
}

.checkbox {
  display: flex;
  margin-block: auto;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.color-inputs {
  display: flex;
  flex-direction: column;
  gap: $db-spacing-fixed-xs;

  .color-picker-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $db-spacing-fixed-md;
  }

  .db-input {
    min-width: 200px;
    @media screen and (min-width: $db-screens-m) {
      min-width: 250px;
    }
  }
}

h6 {
  margin-block: 0;
}
