@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/screen-sizes";
@forward "@db-ui/components/build/styles/db-ui-42-rollup";

.content {
  --db-drawer-max-width: 90%;

  @media screen and (min-width: screen-sizes.$db-breakpoint-md) {
    --db-drawer-max-width: 33%;
  }
}

.checkbox {
  display: flex;
  margin-block: auto;
}

h6 {
  margin-block: 0;
}

.db-header {
  margin-block-end: 0;
}

.db-header-meta-navigation {
  @include screen-sizes.screen() {
    display: none;
  }
}

.tonality-select-call-to-action {
  @include screen-sizes.screen("sm", "max") {
    display: none;
  }
}

.editor {
  .db-divider[data-variant="vertical"] {
    block-size: auto;
  }

  .ace_editor,
  .ace_editor * {
    transition: none;
  }
}

.db-alert-close {
  display: none;
}

.db-infotext {
  --db-icon-font-family: "db-ux-default";
}
