@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  line-height: var(--db-type-headline-line-height-xl) !important;
  font-size: var(--db-type-headline-font-size-xl) !important;
}

h2 {
  line-height: var(--db-type-headline-line-height-lg) !important;
  font-size: var(--db-type-headline-font-size-lg) !important;
}

h3 {
  line-height: var(--db-type-headline-line-height-md) !important;
  font-size: var(--db-type-headline-font-size-md) !important;
}

h4 {
  line-height: var(--db-type-headline-line-height-sm) !important;
  font-size: var(--db-type-headline-font-size-sm) !important;
}

h5 {
  line-height: var(--db-type-headline-line-height-xs) !important;
  font-size: var(--db-type-headline-font-size-xs) !important;
}

h6 {
  line-height: var(--db-type-headline-line-height-2xs) !important;
  font-size: var(--db-type-headline-font-size-2xs) !important;
}

a {
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
}
