@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/components/build/components/tag/tag";

.color-picker-container {
  display: flex;
  gap: variables.$db-spacing-fixed-xs;

  .color-input-container {
    display: flex;
    position: relative;

    .color-tag {
      display: flex;
      align-items: center;
      gap: variables.$db-spacing-fixed-2xs;

      &:not([data-icon]) {
        &::before {
          display: flex;
          content: "";
          aspect-ratio: 1/1;
          width: variables.$db-sizing-xs;
          background-color: var(--db-current-origin-color);
          border-radius: variables.$db-border-radius-full;
          border: variables.$db-border-height-3xs solid
            colors.$db-adaptive-on-bg-basic-emphasis-60-default;
        }

        &::after {
          --db-current-icon-color: var(--db-warning-on-bg-basic-emphasis-70-default);
          --db-icon-font-family: "db-ux-filled";
          margin-inline-start: 0;
        }
      }
    }

    .db-drawer-content {
      overflow-y: auto;
      block-size: 100%;
      margin-bottom: variables.$db-spacing-fixed-2xs;
    }
  }
}
