@use "@db-ui/foundations/build/scss/variables.global" as var;

.action-bar {
  display: flex;
  gap: var.$db-spacing-fixed-xs;
}

.dark-mode-button {
  padding: 0;
  inline-size: var.$db-sizing-md;
}
